[submodule "Diplomarbeit Share2Desktop Webseite/Diplomarbeit Share2Desktop Webseite Repository"]
	path = Diplomarbeit Share2Desktop Webseite/Diplomarbeit Share2Desktop Webseite Repository
	url = git@github.com:szettl135/Share2Desktop-Webseite.git
